<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
<!-- Start: Database Credentials -->
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value><!-- Add your database driver like "org.postgresql.Driver" --></param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value><!-- Add your database url like "jdbc:postgresql://localhost:5432/achievohub" --></param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value><!-- Add your database username like "postgres" --></param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value><!-- Add your database password like "ADMIN123" --></param-value>
    </context-param>
    <!-- End: Database Credentials -->
    <!-- Start: SMTP Credentials -->
    <context-param>
        <param-name>mailHost</param-name>
        <param-value><!-- Add your SMTP mail host like "smtp.gmail.com" --></param-value>
    </context-param>
    <context-param>
        <param-name>mailPort</param-name>
        <param-value><!-- Add your SMTP mail port like "587" --></param-value>
    </context-param>
    <context-param>
        <param-name>mailUser</param-name>
        <param-value><!-- Add your SMTP mail user like "example123@gmail.com" --></param-value>
    </context-param>
    <context-param>
        <param-name>mailPassword</param-name>
        <param-value><!-- Add your SMTP mail password like "abcd efgh ijkl mnop" --></param-value>
    </context-param>
    <!-- Start: SMTP Credentials -->
    <filter>
        <filter-name>RegisterValidationFilter</filter-name>
        <filter-class>javaFilters.RegisterValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginValidationFilter</filter-name>
        <filter-class>javaFilters.LoginValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UpdateProfileValidationFilter</filter-name>
        <filter-class>javaFilters.UpdateProfileValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AddAchievementValidationFilter</filter-name>
        <filter-class>javaFilters.AddAchievementValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UpdateAchievementValidationFilter</filter-name>
        <filter-class>javaFilters.UpdateAchievementValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResetPasswordValidationFilter</filter-name>
        <filter-class>javaFilters.ResetPasswordValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ChangePasswordValidationFilter</filter-name>
        <filter-class>javaFilters.ChangePasswordValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ChangePasswordValidationFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResetPasswordValidationFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UpdateAchievementValidationFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AddAchievementValidationFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UpdateProfileValidationFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginValidationFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegisterValidationFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>javaServlets.Controller</servlet-class>
        <multipart-config>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>UserRegisteration</servlet-name>
        <servlet-class>javaServlets.UserRegisteration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsername</servlet-name>
        <servlet-class>javaServlets.CheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>javaServlets.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStates</servlet-name>
        <servlet-class>javaServlets.GetStates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCities</servlet-name>
        <servlet-class>javaServlets.GetCities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>javaServlets.UpdateProfile</servlet-class>
        <multipart-config>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>javaServlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAchievement</servlet-name>
        <servlet-class>javaServlets.AddAchievement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAchievement</servlet-name>
        <servlet-class>javaServlets.DeleteAchievement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAchievement</servlet-name>
        <servlet-class>javaServlets.UpdateAchievement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>javaServlets.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseSetupServlet</servlet-name>
        <servlet-class>utilities.DatabaseSetupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmail</servlet-name>
        <servlet-class>javaServlets.CheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>javaServlets.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>javaServlets.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>javaServlets.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>javaServlets.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisteration</servlet-name>
        <url-pattern>/UserRegisteration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsername</servlet-name>
        <url-pattern>/CheckUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStates</servlet-name>
        <url-pattern>/GetStates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCities</servlet-name>
        <url-pattern>/GetCities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAchievement</servlet-name>
        <url-pattern>/AddAchievement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAchievement</servlet-name>
        <url-pattern>/DeleteAchievement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAchievement</servlet-name>
        <url-pattern>/UpdateAchievement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseSetupServlet</servlet-name>
        <url-pattern>/DatabaseSetupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmail</servlet-name>
        <url-pattern>/CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/VerifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
</web-app>
